<app-menu></app-menu>
<p>
  altausuario works!
</p>
<div class="ui-g">
  <div class="ui-g-3 ui-md-2 ui-lg-1"></div>
  <div class="ui-g-6 -ui-md-8 ui-lg-10">
    <form novalidate [formGroup]="frmControl" (ngSubmit)="onSubmit()">
      
      <strong class="first">Nombre</strong>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" formControlName="nombre" placeholder="Nombre">
      </div>




      <input type="text" formControlName="apellido" placeholder="Apellido">



      <input type="password" formControlName="password" placeholder="Password">



      <input type="password" formControlName="passwordRepeat" placeholder="Password">

      <button pButton type="submit" [disabled]="frmControl.invalid">Crear Usuario</button>
    </form>
  </div>
  <div class="ui-g-3 ui-md-2 ui-lg-1"></div>
</div>